{% include "base.html" %}


<body>
    <div class="container">
        <div class="row col-md-10 col-md-offset-2">
            <table class="table table-striped custab">
                <thead>
                    <a href="/supplier/supplier_master/Save" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new</a>
                    <tr>
                        <th>Supplier Name</th>
                        <th>Mobile Number</th>
                        <th>Address</th>
                        <th class="text-center" colspan='3'>Action</th>
                    </tr>
                </thead>
                {% for value in suppierList %}
                <tr>
                    <td>{{value.supplier_name}}</td>
                    <td>{{value.mobile}}</td>
                    <td>{{value.address}},&nbsp;{{value.city}}&nbsp;-&nbsp;{{value.pincode}},&nbsp;{{value.state}}</td>

                    <td class="text-center"><a href="{{value.get_edit_url}}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a></td>
                    <td class="text-center">
                        <a data-target="#delModal{{ value.id }}"  data-toggle="modal" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> &nbsp;Delete</a> 
                        <form class="form"  action="" method="POST" name="FORMNAME124" id="FORMNAME124" >	
                            {% csrf_token %}		
                            <!-- Modal Start -->			
                            
                            
                            <div id="delModal{{ value.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background:#fa404c; color:#FFFFFF">
                                                <span class="modal-title" style="font-weight:bold">Delete Confirmation</span>
                                                <span class="close" data-dismiss="modal">&times;</span>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-responsive" width="100%">
                                                    <tr>
                                                        <td width="30%">Supplier Name</td>
                                                        <td>:</td>
                                                        <td><strong>{{ value.supplier_name }}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="30%">Mobile</td>
                                                        <td>:</td>
                                                        <td><strong>{{ value.mobile }}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="30%">Address</td>
                                                        <td>:</td>
                                                        <td><strong>{{value.address}},&nbsp;{{value.city}}&nbsp;-&nbsp;{{value.pincode}},&nbsp;{{value.state}}</strong></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn  btn-danger" name="DelData"  type="submit" value=" {{ value.id }} ">Delete</button>
                                                <button type='button' class='btn btn-warning' data-dismiss='modal'>Close</button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- Modal End -->
                        </form>
                    </td> 
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

