<?php
include "connect.php";
if($_POST['type']=="")
{
    $sql="SELECT * FROM items where status=1";
    $query=mysqli_query($conn,$sql) or die("Query Unsuccessful.");
    $str="";
    while($res=mysqli_fetch_assoc($query)){
        $str.="<option  value='{$res['id']}'>{$res['item_name']}</option>";
        
    }
}
    else 
    {
        if($_POST['type']=="statedata"){
        $sql="SELECT * FROM items WHERE id={$_POST['id']}";
        $query=mysqli_query($conn,$sql) or die("Query Unsuccessful.");
        $str="";
        while($res=mysqli_fetch_assoc($query)){
            $str.="<option  value='{$res['rate']}'>{$res['rate']}</option>"; 
    }
}
}
echo $str;

?>









<!-- include 'connect.php';
if(isset($_REQUEST['id'])) {

    // $id=$_POST['id'];
    $sql ="SELECT * FROM items WHERE id='".$_REQUEST['id']."'";
    $result=mysqli_query($conn,$sql);
    $data=array();
    while($res=mysqli_fetch_assoc($result)){
        $data=$res ;
    }
    echo json_encode($data);
}
?> -->
