{% include "header.html" %}
<style>
    .custab{
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
        }
    .custab:hover{
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
        }
        
</style>
 
<body>
    <div class="container">
        <div class="row col-md-10 col-md-offset-2">
            <table class="table table-striped custab">
                <thead>
                    <a href="/sales/sales_master/Save" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new</a>
                    <tr>
                        <th>Sales No</th>
                        <th>Sales Date</th>
                        <th>Customer Name</th>
                        <th>Customer Address</th>
                        <th class="text-center" colspan='2'>Action</th>
                    </tr>
                </thead>
                {% for val in saleslist %}
                <tr>
                    <td>{{val.sales_no}}</td>
                    <td>{{val.sales_date}}</td>
                    <td>{{val.customer_name}}</td>
                    <td>{{val.address}}</td>
                    <td class="text-center"><a href="{{val.get_read_url}}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</a></td>
                    
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</body>

<!-- <td class="text-center">
    <a data-target="#delModal{{ val.id }}"  data-toggle="modal" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> &nbsp;Delete</a> 
    
    <form class="form"  action="" method="POST" name="FORMNAME124" id="FORMNAME124" >	
        {% csrf_token %}		
        			                            
        <div id="delModal{{ val.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background:#fa404c; color:#FFFFFF">
                            <span class="modal-title" style="font-weight:bold">Delete Confirmation</span>
                            <span class="close" data-dismiss="modal">&times;</span>
                        </div>
                        <div class="modal-body">
                            <table class="table table-responsive" width="100%">
                                <tr>
                                    <td width="30%">Sales Number</td>
                                    <td>:</td>
                                    <td><strong>{{ val.sales_no }}</strong></td>
                                </tr>
                                <tr>
                                    <td width="30%">Sales Date</td>
                                    <td>:</td>
                                    <td><strong>{{ val.sales_date }}</strong></td>
                                </tr>
                                <tr>
                                    <td width="30%">Customer Name</td>
                                    <td>:</td>
                                    <td><strong>{{ val.customer_name }}</strong></td>
                                </tr>
                                <tr>
                                    <td width="30%">Customer Address</td>
                                    <td>:</td>
                                    <td><strong>{{ val.address }}</strong></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn  btn-danger" name="DelData"  type="submit" value=" {{ val.id }} ">Delete</button>
                            <button type='button' class='btn btn-warning' data-dismiss='modal'>Close</button>
                        </div>
                    </div>
            </div>
        </div>
       
    </form>
</td>  -->
