{% include "header.html" %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<style>
    .select_f {
        max-width:40px !important;
    }
    #div_vendor_details p
    {
        width:100%;
        float:left;
    }
</style>
<body>
    <div class="container">
        <div class="row col-md-10 col-md-offset-2 custyle">
            <div class="card-body">
                {{error_msg | safe}}
              
                <form name="form1"  method="POST" id="FORMNAME1" enctype="multipart/form-data">
                {% csrf_token %}
                
                    <div class="row" style="padding:10px;">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label id="{{forms.sales_no.id_for_label}}"> <b>{{forms.sales_no.label}}<i class="star" style=color:red;> *</i></b> </label></br>
                                {{forms.sales_no}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"><label><strong><b>Sale Date <i class="star" style=color:red;> *</i></b></strong></label></br>
                                {{forms.sales_date}}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:10px;">
                        <div class="col-lg-3">
                            <div class="form-group select_f"><label><strong><b>Cutomer Name <i class="star" style=color:red;>* </i></b></strong></label></br>
                                {{forms.customer_name}}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group select_f"><label><strong><b>Cutomer Mobile <i class="star" style=color:red;> *</i></b></strong></label></br>
                                {{forms.mobile}}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group select_f"><label><strong><b>Cutomer Address <i class="star" style=color:red; >  *</i></b></strong></label></br>
                                {{forms.address}}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:10px;">
                        <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                            <table class="table table-striped custab form-group">
                                <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Item Rate</th>
                                        <th>Quantity</th>
                                        <th>Total Amt.</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <tr>
                                        <td>{{saleitem.item_id}}</td>
                                        <td>{{saleitem.rate}}</td>
                                        <td>{{saleitem.qty}}</td>
                                        <td>{{saleitem.total}}</td>
                                        <td class="ml-2">
                                            <input type="submit" name="add-btn"  class="btn btn-primary btn-sm" value="Add">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding:10px;">
                        <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                            <table class="table table-striped custab form-group">
                                <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Item Rate</th>
                                        <th>Quantity</th>
                                        <th>Total Amt.</th>
                                    </tr>
                                </thead>
                                {% for value in list %}
                                    <tbody id="tbody">
                                        <tr>
                                            <td>{{value.item_name}}</td>
                                            <td>{{value.rate}}</td>
                                            <td>{{value.qty}}</td>
                                            <td>{{value.total}}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding:10px;">
                        <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                            <button type="submit" name="add" class="btn btn-info">{{action}}</button>
                            <a href="/sales/sales_list/"><span class="btn btn-info"><i class="material-icons" data-toggle="tooltip" data-original-title="{{ButtonBack}}">Back</i></span></a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
   

    function getItems_data()
    {	      
        var item_id=document.getElementById("id_item_id").value;
        //alert(item_id);
        $.ajax({
            type: 'POST',
            url: "/purchase/getItems_details/",
            data: { 'item_id' : item_id,'csrfmiddlewaretoken': '{{ csrf_token }}'},           
            success: function(res)
            { 
                var data = JSON.parse(res);
                //document.getElementById("id_rate").innerHTML = data.rate ;
                $("#id_rate").val(data.rate.toFixed(2));
            }          
        });  
    }


    function isNumber(evt) {
        //alert();
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    $( document ).ready(function() {
        //console.log( "ready!" );
        $('#id_qty').keyup(function(){
            var qyantity =  $("#id_qty").val();
            var rate =  $("#id_rate").val();
            var total = qyantity * rate;
            $("#id_total").val(total);	
    
        });
        
        $('#id_sales_date').datepicker({ 
            startDate: '',
            autoclose: true,
            format: 'dd-mm-yyyy'
	    });

    });
    
    
    function calculate()
    {
        //alert();
        var qty=0,rate=0,total=0;
                 
        qty=parseInt($(this).find("#id_qty").val()==''?0:$(this).find("#id_qty").val());
        rate=parseInt($(this).find("#id_rate").val()==''?0:$(this).find("#id_rate").val());
        
        qty = isNaN(qty) ? 0 : qty;
        rate = isNaN(rate) ? 0 : rate;	
        
        qty_price=qty*rate;	
        total=parseInt(qty_price).toFixed(2);
        
        $("#id_total").val(total);
        
    } 

    
    </script>